<h1>Array Maker</h1>
<p><a href="/hangman">Play Hangman</a></p>

<form id="array_maker" action="/submit" method="post">
  <textarea name="phrase" rows="10" cols="60"></textarea>
  <br>
  <button class="form-submit" type="submit">Add A Word</button>
</form>

<form id="random_word" action="/pick" method="post">
  <button class="form-submit" type="submit" >Pick A Word</button>
</form>

<form id="clear_array" action="/clear" method="post">
  <button class="form-submit" type="submit" action="/clear" method="post" >Empty Array</button>
</form>

<p><%= $testArray %></p>
<p><%= $randomWord %></p>

