<link rel="stylesheet" type="text/css" href="/stylesheets/hangman.css">
           
<img src="/images/pjlogo.png" alt="Pearl Jam Hangman Game" />
<img src="/images/hangman.png"/>
            
<div class="col-md-6" style="padding:10px";> 
    <img id="win-image" src="/images/win.png" alt="Win!" />
    <img id="lose-image" src="/images/lose.png" alt="Lose!" />
    <img id="stickmanImage" src="" alt="" />
    <h4 id="tryAgain">Game Over, Press Any Letter to Try Again!</h4>
</div>   
    
<div class="col-md-6" style="padding:10px";>
    <h3>Make A Guess:  Press Any Letter</h3>
    <h4 id="totalWins"></h4>
    <h4>Guess The Song Name:</h4>
    <h3 id="currentWord"></h3>
    <h3 id="guessesRemaining"></h3>
    <h3 id="guessedLets"></h3>
</div>

