<h1>Sample Ruby & Sinatra App</h1>

<p>
  This is hangman game
</p>

<p>
  <a href="/array">Add Words</a>.
</p>

<p>
  <a href="/hangman">Play Hangman</a>.
</p>

<a class="sator-square" href="/palindrome">
  <img src="/images/sator_square.jpg">
</a>