<h1>Sample Ruby & Sinatra App</h1>

<p>
  This is HANGMAN game
</p>

<p>
  <a href="/array">Add Words First</a>
</p>

<p>
  <a href="/hangman">Then Play HANGMAN!</a>
</p>

<a class="sator-square" href="/hangman">
  <img src="https://i.ytimg.com/vi/r91yPViqRX0/maxresdefault.jpg">
</a>