body {
    background-color: #eee;
    color: white;
    background: url('../images/pjback.png') no-repeat;
    background-size: cover;
}

#title-image1 { 
    display: block;
    margin: 0 auto;
    height: 153px;
    width: 600px;
}

#title-image, #win-image, #lose-image{ 
    display: block;
    margin: 0 auto;
}

#currentWord {
    letter-spacing: 10px;
}

#tryAgain, 
#lose-image, 
#win-image { display: none;}